.hero-title {
    padding: 3.5rem;
    font-size: 5rem;
    color: #fff;
    text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.9);
    background: url('https://fsmedia.imgix.net/3e/5a/2a/a0/c2af/441d/8fa0/5b47329d7333/heroes-in-crisis-1-cover-illustrated-by-clay-mann.jpeg?rect=0%2C406%2C781%2C391&auto=format%2Ccompress&dpr=2&w=650') no-repeat center top -170px;
    border-radius: 10px;
}